* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* img {
  width: 100%;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: 'Tajawal', sans-serif;
  /* width: 50%; */
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* direction: rtl; */
  color: #fff;
  background-image: url('./images/body-bg.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-brand {
  margin-bottom: 2rem;
}

.header-brand .header-logo-image {
  width: 170px;
}

.hero .logo-col {
  margin: 0 1rem;
}

.hero .col-1 {
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
  padding: 1rem;
}

.hero .desc-col {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 5rem;
  padding: 3rem 0;
  font-size: 1.5rem;
  border: 1px dashed #fff;
  gap: 2rem;
}

/* .footer-social-links li a {
  color: #fff;
} */
